#s-main-logo {
	width: 100px;
	height: 100px;
}

@media (max-width: 550px) {
	#s-title{
		display: none;
	}
}

#s-logo-wrapper{
	display: flex;
	align-items: center;
}

#s-title{
	font-size: 25px;
}

#s-bg-img {
	display: flex;
	width: 100vw;
	position: relative;
	top: 150px;
}

#s-bg-img img{
	height: 250px;
	width: 110vw;
	margin-left: -20px;
}

.s-heigth {
	min-height: 464px !important;
	height: unset !important; 
}

#space-fix {
	position: relative;
	top: 300px;
	height: 150px;
}